###  ABS to Tidydata

In [1]:
from databaker.framework import *
import pandas as pd

ABS Excel spreadsheet is available from [ONS website](https://www.ons.gov.uk/businessindustryandtrade/business/businessservices/datasets/annualbusinesssurveyimportersandexporters).

In [2]:
import requests
from pathlib import Path
from io import BytesIO
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

filename = 'importersandexporterssummarytablesinitial.xls'
url = 'https://www.ons.gov.uk/file?uri=/businessindustryandtrade/business/businessservices/datasets/annualbusinesssurveyimportersandexporters/current/' + filename
inputFile = sourceFolder / filename
response = session.get(url)
with open(inputFile, 'wb') as f:
    f.write(response.content)
sheets = loadxlstabs(inputFile)

Loading in/importersandexporterssummarytablesinitial.xls which has size 109867 bytes
Table names: ['Content Page', '2016 Goods and Services', '2016 Goods ', '2016 Services  ', '2015 Goods and Services', '2015 Goods ', '2015 Services  ', '2014 Goods and Services', '2014 Goods', '2014 Services', 'Standard Errors']

In [3]:
import re
tab_name_re = re.compile(r'^([0-9]{4}) (.*)$')
tidy = pd.DataFrame()

for sheet in sheets[1:-1]:
    name_match = tab_name_re.match(sheet.name)
    assert name_match, "sheet name doesn't match regex"
    for breakdown in ['Detailed employment', 'Employment', 'Ownership', 'Turnover', 'Age']:
        year = HDimConst('Year', name_match.group(1))
        trade = HDimConst('Trade', name_match.group(2).strip())
        breakdown_on_down = sheet.filter(starts_with(breakdown)).fill(DOWN).expand(RIGHT).is_not_blank()
        breakdown_obs = breakdown_on_down - \
            breakdown_on_down.filter(contains_string('Total')).expand(DOWN).expand(RIGHT) - \
            sheet.filter(starts_with(breakdown)).fill(DOWN)
        classifiers = sheet.filter(starts_with(breakdown)).fill(DOWN).is_not_blank()
        classifiers = classifiers - classifiers.filter(contains_string('Total')).expand(DOWN)
        classifiers = HDim(classifiers, breakdown, DIRECTLY, LEFT)
        classifiers.AddCellValueOverride('2 to9', '2 to 9')
        import_export = sheet.filter(starts_with(breakdown)).fill(RIGHT).is_not_blank()
        import_export = HDim(import_export, 'Import/Export', DIRECTLY, UP)
        import_export.AddCellValueOverride('Businesses 4', 'Businesses')
        import_export.AddCellValueOverride('Exporter and/or Importer 7', 'Exporter and/or Importer')
        measure = sheet.filter(starts_with(breakdown)).shift(UP).fill(RIGHT).is_not_blank()
        measure = HDim(measure, 'Measure Type', CLOSEST, LEFT)
        measure.AddCellValueOverride('Number of 5', 'Count')
        measure.AddCellValueOverride('% 6', 'Proportion of all Business')
        tidy = tidy.append(ConversionSegment(breakdown_obs, [classifiers, import_export, year, trade, measure]).topandas(), sort=True)
        #savepreviewhtml([breakdown_obs, classifiers, import_export, measure])
        #break
    #break

tidy

,Age,Detailed employment,Employment,Import/Export,Measure Type,OBS,Ownership,Trade,Turnover,Year
0,NaN,1,NaN,Businesses,Count,1087600.0,NaN,Goods and Services,NaN,2016
1,NaN,1,NaN,Exporters,Count,65900.0,NaN,Goods and Services,NaN,2016
2,NaN,1,NaN,Importers,Count,55800.0,NaN,Goods and Services,NaN,2016
3,NaN,1,NaN,Exporter and Importer,Count,25200.0,NaN,Goods and Services,NaN,2016
4,NaN,1,NaN,Exporter and/or Importer,Count,96500.0,NaN,Goods and Services,NaN,2016
5,NaN,1,NaN,Exporters,Proportion of all Business,6.1,NaN,Goods and Services,NaN,2016
6,NaN,1,NaN,Importers,Proportion of all Business,5.1,NaN,Goods and Services,NaN,2016
7,NaN,1,NaN,Exporter and Importer,Proportion of all Business,2.3,NaN,Goods and Services,NaN,2016
8,NaN,1,NaN,Exporter and/or Importer,Proportion of all Business,8.9,NaN,Goods and Services,NaN,2016
9,NaN,2 to 9,NaN,Businesses,Count,1019200.0,NaN,Goods and Services,NaN,2016
10,NaN,2 to 9,NaN,Exporters,Count,85500.0,NaN,Goods and Services,NaN,2016
11,NaN,2 to 9,NaN,Importers,Count,94400.0,NaN,Goods and Services,NaN,2016
12,NaN,2 to 9,NaN,Exporter and Importer,Count,47000.0,NaN,Goods and Services,NaN,2016
13,NaN,2 to 9,NaN,Exporter and/or Importer,Count,132900.0,NaN,Goods and Services,NaN,2016
14,NaN,2 to 9,NaN,Exporters,Proportion of all Business,8.4,NaN,Goods and Services,NaN,2016
15,NaN,2 to 9,NaN,Importers,Proportion of all Business,9.3,NaN,Goods and Services,NaN,2016
16,NaN,2 to 9,NaN,Exporter and Importer,Proportion of all Business,4.6,NaN,Goods and Services,NaN,2016
17,NaN,2 to 9,NaN,Exporter and/or Importer,Proportion of all Business,13.0,NaN,Goods and Services,NaN,2016
18,NaN,10 to 19,NaN,Businesses,Count,136600.0,NaN,Goods and Services,NaN,2016
19,NaN,10 to 19,NaN,Exporters,Count,22900.0,NaN,Goods and Services,NaN,2016
20,NaN,10 to 19,NaN,Importers,Count,27000.0,NaN,Goods and Services,NaN,2016
21,NaN,10 to 19,NaN,Exporter and Importer,Count,16400.0,NaN,Goods and Services,NaN,2016
22,NaN,10 to 19,NaN,Exporter and/or Importer,Count,33500.0,NaN,Goods and Services,NaN,2016
23,NaN,10 to 19,NaN,Exporters,Proportion of all Business,16.8,NaN,Goods and Services,NaN,2016
24,NaN,10 to 19,NaN,Importers,Proportion of all Business,19.7,NaN,Goods and Services,NaN,2016
25,NaN,10 to 19,NaN,Exporter and Importer,Proportion of all Business,12.0,NaN,Goods and Services,NaN,2016
26,NaN,10 to 19,NaN,Exporter and/or Importer,Proportion of all Business,24.5,NaN,Goods and Services,NaN,2016
27,NaN,20 to 49,NaN,Businesses,Count,71900.0,NaN,Goods and Services,NaN,2016
28,NaN,20 to 49,NaN,Exporters,Count,16900.0,NaN,Goods and Services,NaN,2016
29,NaN,20 to 49,NaN,Importers,Count,19100.0,NaN,Goods and Services,NaN,2016
...,...,...,...,...,...,...,...,...,...,...
15,2-<4,NaN,NaN,Importers,Proportion of all Business,5.1,NaN,Services,NaN,2014
16,2-<4,NaN,NaN,Exporter and Importer,Proportion of all Business,3.2,NaN,Services,NaN,2014
17,2-<4,NaN,NaN,Exporter and/or Importer,Proportion of all Business,9.0,NaN,Services,NaN,2014
18,4-<10,NaN,NaN,Businesses,Count,499200.0,NaN,Services,NaN,2014
19,4-<10,NaN,NaN,Exporters,Count,37900.0,NaN,Services,NaN,2014
20,4-<10,NaN,NaN,Importers,Count,23800.0,NaN,Services,NaN,2014
21,4-<10,NaN,NaN,Exporter and Importer,Count,16200.0,NaN,Services,NaN,2014
22,4-<10,NaN,NaN,Exporter and/or Importer,Count,45500.0,NaN,Services,NaN,2014
23,4-<10,NaN,NaN,Exporters,Proportion of all Business,7.6,NaN,Services,NaN,2014
24,4-<10,NaN,NaN,Importers,Proportion of all Business,4.8,NaN,Services,NaN,2014
25,4-<10,NaN,NaN,Exporter and Importer,Proportion of all Business,3.2,NaN,Services,NaN,2014
26,4-<10,NaN,NaN,Exporter and/or Importer,Proportion of all Business,9.1,NaN,Services,NaN,2014
27,10-<20,NaN,NaN,Businesses,Count,456500.0,NaN,Services,NaN,2014
28,10-<20,NaN,NaN,Exporters,Count,35700.0,NaN,Services,NaN,2014
29,10-<20,NaN,NaN,Importers,Count,23200.0,NaN,Services,NaN,2014
30,10-<20,NaN,NaN,Exporter and Importer,Count,15700.0,NaN,Services,NaN,2014
31,10-<20,NaN,NaN,Exporter and/or Importer,Count,43200.0,NaN,Services,NaN,2014
32,10-<20,NaN,NaN,Exporters,Proportion of all Business,7.8,NaN,Services,NaN,2014
33,10-<20,NaN,NaN,Importers,Proportion of all Business,5.1,NaN,Services,NaN,2014
34,10-<20,NaN,NaN,Exporter and Importer,Proportion of all Business,3.4,NaN,Services,NaN,2014
35,10-<20,NaN,NaN,Exporter and/or Importer,Proportion of all Business,9.5,NaN,Services,NaN,2014
36,20+,NaN,NaN,Businesses,Count,406600.0,NaN,Services,NaN,2014
37,20+,NaN,NaN,Exporters,Count,28000.0,NaN,Services,NaN,2014
38,20+,NaN,NaN,Importers,Count,20200.0,NaN,Services,NaN,2014
39,20+,NaN,NaN,Exporter and Importer,Count,13300.0,NaN,Services,NaN,2014
40,20+,NaN,NaN,Exporter and/or Importer,Count,34900.0,NaN,Services,NaN,2014
41,20+,NaN,NaN,Exporters,Proportion of all Business,6.9,NaN,Services,NaN,2014
42,20+,NaN,NaN,Importers,Proportion of all Business,5.0,NaN,Services,NaN,2014
43,20+,NaN,NaN,Exporter and Importer,Proportion of all Business,3.3,NaN,Services,NaN,2014
44,20+,NaN,NaN,Exporter and/or Importer,Proportion of all Business,8.6,NaN,Services,NaN,2014

Check for duplicate rows

In [4]:
assert tidy.duplicated().sum() == 0, 'duplicate rows'

"Employment" is the parent of "Detailed employment".

Also, the class "250 and over" is repeated in each, so we need to drop the duplicates. However, there appear to be some discrepancies.

In [5]:
duplicate_label = '250 and over'
emp_250 = tidy[tidy['Employment'] == duplicate_label].drop(columns=['Employment', 'Detailed employment']).reset_index(drop=True)
detailed_emp_250 = tidy[tidy['Detailed employment'] == duplicate_label].drop(columns=['Employment', 'Detailed employment']).reset_index(drop=True)
assert emp_250.size > 0
assert detailed_emp_250.size > 0
#assert emp_250.equals(detailed_emp_250)
merged = emp_250.merge(detailed_emp_250, indicator=True, how='outer')

display(merged[merged['_merge'] == 'right_only'])

tidy = tidy[tidy['Detailed employment'] != '250 and over'].reset_index(drop=True)

,Age,Import/Export,Measure Type,OBS,Ownership,Trade,Turnover,Year,_merge
81,NaN,Exporters,Proportion of all Business,40.7,NaN,Goods and Services,NaN,2014,right_only
82,NaN,Importers,Proportion of all Business,48.0,NaN,Goods and Services,NaN,2014,right_only
83,NaN,Exporter and Importer,Proportion of all Business,36.5,NaN,Goods and Services,NaN,2014,right_only
84,NaN,Exporter and/or Importer,Proportion of all Business,52.1,NaN,Goods and Services,NaN,2014,right_only

We need to merge them and also list their values so that we can create a codelist.

In [6]:
display(tidy['Employment'].unique())
display(tidy['Detailed employment'].unique())
tidy['Employees'] = tidy.apply(lambda x: x['Employment'] if pd.notnull(x['Employment']) else x['Detailed employment'], axis=1)
tidy = tidy.drop(columns=['Employment', 'Detailed employment'])
tidy

array([nan, '1 to 49', '50 to 249', '250 and over'], dtype=object)

array(['1', '2 to 9', '10 to 19', '20 to 49', '50 to 99', '100 to 249',
       nan], dtype=object)

,Age,Import/Export,Measure Type,OBS,Ownership,Trade,Turnover,Year,Employees
0,NaN,Businesses,Count,1087600.0,NaN,Goods and Services,NaN,2016,1
1,NaN,Exporters,Count,65900.0,NaN,Goods and Services,NaN,2016,1
2,NaN,Importers,Count,55800.0,NaN,Goods and Services,NaN,2016,1
3,NaN,Exporter and Importer,Count,25200.0,NaN,Goods and Services,NaN,2016,1
4,NaN,Exporter and/or Importer,Count,96500.0,NaN,Goods and Services,NaN,2016,1
5,NaN,Exporters,Proportion of all Business,6.1,NaN,Goods and Services,NaN,2016,1
6,NaN,Importers,Proportion of all Business,5.1,NaN,Goods and Services,NaN,2016,1
7,NaN,Exporter and Importer,Proportion of all Business,2.3,NaN,Goods and Services,NaN,2016,1
8,NaN,Exporter and/or Importer,Proportion of all Business,8.9,NaN,Goods and Services,NaN,2016,1
9,NaN,Businesses,Count,1019200.0,NaN,Goods and Services,NaN,2016,2 to 9
10,NaN,Exporters,Count,85500.0,NaN,Goods and Services,NaN,2016,2 to 9
11,NaN,Importers,Count,94400.0,NaN,Goods and Services,NaN,2016,2 to 9
12,NaN,Exporter and Importer,Count,47000.0,NaN,Goods and Services,NaN,2016,2 to 9
13,NaN,Exporter and/or Importer,Count,132900.0,NaN,Goods and Services,NaN,2016,2 to 9
14,NaN,Exporters,Proportion of all Business,8.4,NaN,Goods and Services,NaN,2016,2 to 9
15,NaN,Importers,Proportion of all Business,9.3,NaN,Goods and Services,NaN,2016,2 to 9
16,NaN,Exporter and Importer,Proportion of all Business,4.6,NaN,Goods and Services,NaN,2016,2 to 9
17,NaN,Exporter and/or Importer,Proportion of all Business,13.0,NaN,Goods and Services,NaN,2016,2 to 9
18,NaN,Businesses,Count,136600.0,NaN,Goods and Services,NaN,2016,10 to 19
19,NaN,Exporters,Count,22900.0,NaN,Goods and Services,NaN,2016,10 to 19
20,NaN,Importers,Count,27000.0,NaN,Goods and Services,NaN,2016,10 to 19
21,NaN,Exporter and Importer,Count,16400.0,NaN,Goods and Services,NaN,2016,10 to 19
22,NaN,Exporter and/or Importer,Count,33500.0,NaN,Goods and Services,NaN,2016,10 to 19
23,NaN,Exporters,Proportion of all Business,16.8,NaN,Goods and Services,NaN,2016,10 to 19
24,NaN,Importers,Proportion of all Business,19.7,NaN,Goods and Services,NaN,2016,10 to 19
25,NaN,Exporter and Importer,Proportion of all Business,12.0,NaN,Goods and Services,NaN,2016,10 to 19
26,NaN,Exporter and/or Importer,Proportion of all Business,24.5,NaN,Goods and Services,NaN,2016,10 to 19
27,NaN,Businesses,Count,71900.0,NaN,Goods and Services,NaN,2016,20 to 49
28,NaN,Exporters,Count,16900.0,NaN,Goods and Services,NaN,2016,20 to 49
29,NaN,Importers,Count,19100.0,NaN,Goods and Services,NaN,2016,20 to 49
...,...,...,...,...,...,...,...,...,...
1995,2-<4,Importers,Proportion of all Business,5.1,NaN,Services,NaN,2014,NaN
1996,2-<4,Exporter and Importer,Proportion of all Business,3.2,NaN,Services,NaN,2014,NaN
1997,2-<4,Exporter and/or Importer,Proportion of all Business,9.0,NaN,Services,NaN,2014,NaN
1998,4-<10,Businesses,Count,499200.0,NaN,Services,NaN,2014,NaN
1999,4-<10,Exporters,Count,37900.0,NaN,Services,NaN,2014,NaN
2000,4-<10,Importers,Count,23800.0,NaN,Services,NaN,2014,NaN
2001,4-<10,Exporter and Importer,Count,16200.0,NaN,Services,NaN,2014,NaN
2002,4-<10,Exporter and/or Importer,Count,45500.0,NaN,Services,NaN,2014,NaN
2003,4-<10,Exporters,Proportion of all Business,7.6,NaN,Services,NaN,2014,NaN
2004,4-<10,Importers,Proportion of all Business,4.8,NaN,Services,NaN,2014,NaN
2005,4-<10,Exporter and Importer,Proportion of all Business,3.2,NaN,Services,NaN,2014,NaN
2006,4-<10,Exporter and/or Importer,Proportion of all Business,9.1,NaN,Services,NaN,2014,NaN
2007,10-<20,Businesses,Count,456500.0,NaN,Services,NaN,2014,NaN
2008,10-<20,Exporters,Count,35700.0,NaN,Services,NaN,2014,NaN
2009,10-<20,Importers,Count,23200.0,NaN,Services,NaN,2014,NaN
2010,10-<20,Exporter and Importer,Count,15700.0,NaN,Services,NaN,2014,NaN
2011,10-<20,Exporter and/or Importer,Count,43200.0,NaN,Services,NaN,2014,NaN
2012,10-<20,Exporters,Proportion of all Business,7.8,NaN,Services,NaN,2014,NaN
2013,10-<20,Importers,Proportion of all Business,5.1,NaN,Services,NaN,2014,NaN
2014,10-<20,Exporter and Importer,Proportion of all Business,3.4,NaN,Services,NaN,2014,NaN
2015,10-<20,Exporter and/or Importer,Proportion of all Business,9.5,NaN,Services,NaN,2014,NaN
2016,20+,Businesses,Count,406600.0,NaN,Services,NaN,2014,NaN
2017,20+,Exporters,Count,28000.0,NaN,Services,NaN,2014,NaN
2018,20+,Importers,Count,20200.0,NaN,Services,NaN,2014,NaN
2019,20+,Exporter and Importer,Count,13300.0,NaN,Services,NaN,2014,NaN
2020,20+,Exporter and/or Importer,Count,34900.0,NaN,Services,NaN,2014,NaN
2021,20+,Exporters,Proportion of all Business,6.9,NaN,Services,NaN,2014,NaN
2022,20+,Importers,Proportion of all Business,5.0,NaN,Services,NaN,2014,NaN
2023,20+,Exporter and Importer,Proportion of all Business,3.3,NaN,Services,NaN,2014,NaN
2024,20+,Exporter and/or Importer,Proportion of all Business,8.6,NaN,Services,NaN,2014,NaN

Fill NaN with top values.

In [7]:
tidy.fillna(value={'Age': 'Any', 'Ownership': 'Any', 'Turnover': 'Any', 'Employees': 'Any', }, inplace=True)
tidy

,Age,Import/Export,Measure Type,OBS,Ownership,Trade,Turnover,Year,Employees
0,Any,Businesses,Count,1087600.0,Any,Goods and Services,Any,2016,1
1,Any,Exporters,Count,65900.0,Any,Goods and Services,Any,2016,1
2,Any,Importers,Count,55800.0,Any,Goods and Services,Any,2016,1
3,Any,Exporter and Importer,Count,25200.0,Any,Goods and Services,Any,2016,1
4,Any,Exporter and/or Importer,Count,96500.0,Any,Goods and Services,Any,2016,1
5,Any,Exporters,Proportion of all Business,6.1,Any,Goods and Services,Any,2016,1
6,Any,Importers,Proportion of all Business,5.1,Any,Goods and Services,Any,2016,1
7,Any,Exporter and Importer,Proportion of all Business,2.3,Any,Goods and Services,Any,2016,1
8,Any,Exporter and/or Importer,Proportion of all Business,8.9,Any,Goods and Services,Any,2016,1
9,Any,Businesses,Count,1019200.0,Any,Goods and Services,Any,2016,2 to 9
10,Any,Exporters,Count,85500.0,Any,Goods and Services,Any,2016,2 to 9
11,Any,Importers,Count,94400.0,Any,Goods and Services,Any,2016,2 to 9
12,Any,Exporter and Importer,Count,47000.0,Any,Goods and Services,Any,2016,2 to 9
13,Any,Exporter and/or Importer,Count,132900.0,Any,Goods and Services,Any,2016,2 to 9
14,Any,Exporters,Proportion of all Business,8.4,Any,Goods and Services,Any,2016,2 to 9
15,Any,Importers,Proportion of all Business,9.3,Any,Goods and Services,Any,2016,2 to 9
16,Any,Exporter and Importer,Proportion of all Business,4.6,Any,Goods and Services,Any,2016,2 to 9
17,Any,Exporter and/or Importer,Proportion of all Business,13.0,Any,Goods and Services,Any,2016,2 to 9
18,Any,Businesses,Count,136600.0,Any,Goods and Services,Any,2016,10 to 19
19,Any,Exporters,Count,22900.0,Any,Goods and Services,Any,2016,10 to 19
20,Any,Importers,Count,27000.0,Any,Goods and Services,Any,2016,10 to 19
21,Any,Exporter and Importer,Count,16400.0,Any,Goods and Services,Any,2016,10 to 19
22,Any,Exporter and/or Importer,Count,33500.0,Any,Goods and Services,Any,2016,10 to 19
23,Any,Exporters,Proportion of all Business,16.8,Any,Goods and Services,Any,2016,10 to 19
24,Any,Importers,Proportion of all Business,19.7,Any,Goods and Services,Any,2016,10 to 19
25,Any,Exporter and Importer,Proportion of all Business,12.0,Any,Goods and Services,Any,2016,10 to 19
26,Any,Exporter and/or Importer,Proportion of all Business,24.5,Any,Goods and Services,Any,2016,10 to 19
27,Any,Businesses,Count,71900.0,Any,Goods and Services,Any,2016,20 to 49
28,Any,Exporters,Count,16900.0,Any,Goods and Services,Any,2016,20 to 49
29,Any,Importers,Count,19100.0,Any,Goods and Services,Any,2016,20 to 49
...,...,...,...,...,...,...,...,...,...
1995,2-<4,Importers,Proportion of all Business,5.1,Any,Services,Any,2014,Any
1996,2-<4,Exporter and Importer,Proportion of all Business,3.2,Any,Services,Any,2014,Any
1997,2-<4,Exporter and/or Importer,Proportion of all Business,9.0,Any,Services,Any,2014,Any
1998,4-<10,Businesses,Count,499200.0,Any,Services,Any,2014,Any
1999,4-<10,Exporters,Count,37900.0,Any,Services,Any,2014,Any
2000,4-<10,Importers,Count,23800.0,Any,Services,Any,2014,Any
2001,4-<10,Exporter and Importer,Count,16200.0,Any,Services,Any,2014,Any
2002,4-<10,Exporter and/or Importer,Count,45500.0,Any,Services,Any,2014,Any
2003,4-<10,Exporters,Proportion of all Business,7.6,Any,Services,Any,2014,Any
2004,4-<10,Importers,Proportion of all Business,4.8,Any,Services,Any,2014,Any
2005,4-<10,Exporter and Importer,Proportion of all Business,3.2,Any,Services,Any,2014,Any
2006,4-<10,Exporter and/or Importer,Proportion of all Business,9.1,Any,Services,Any,2014,Any
2007,10-<20,Businesses,Count,456500.0,Any,Services,Any,2014,Any
2008,10-<20,Exporters,Count,35700.0,Any,Services,Any,2014,Any
2009,10-<20,Importers,Count,23200.0,Any,Services,Any,2014,Any
2010,10-<20,Exporter and Importer,Count,15700.0,Any,Services,Any,2014,Any
2011,10-<20,Exporter and/or Importer,Count,43200.0,Any,Services,Any,2014,Any
2012,10-<20,Exporters,Proportion of all Business,7.8,Any,Services,Any,2014,Any
2013,10-<20,Importers,Proportion of all Business,5.1,Any,Services,Any,2014,Any
2014,10-<20,Exporter and Importer,Proportion of all Business,3.4,Any,Services,Any,2014,Any
2015,10-<20,Exporter and/or Importer,Proportion of all Business,9.5,Any,Services,Any,2014,Any
2016,20+,Businesses,Count,406600.0,Any,Services,Any,2014,Any
2017,20+,Exporters,Count,28000.0,Any,Services,Any,2014,Any
2018,20+,Importers,Count,20200.0,Any,Services,Any,2014,Any
2019,20+,Exporter and Importer,Count,13300.0,Any,Services,Any,2014,Any
2020,20+,Exporter and/or Importer,Count,34900.0,Any,Services,Any,2014,Any
2021,20+,Exporters,Proportion of all Business,6.9,Any,Services,Any,2014,Any
2022,20+,Importers,Proportion of all Business,5.0,Any,Services,Any,2014,Any
2023,20+,Exporter and Importer,Proportion of all Business,3.3,Any,Services,Any,2014,Any
2024,20+,Exporter and/or Importer,Proportion of all Business,8.6,Any,Services,Any,2014,Any

Show the range of the codes and check for duplicated rows.

In [8]:
from IPython.core.display import HTML
for col in tidy:
    if col not in ['OBS']:
        display(HTML(f'<h2>{col}</h2>'))
        display(tidy[col].unique())
dups = tidy.duplicated()
display(dups.sum())
tidy[dups]

array(['Any', '<2', '2-<4', '4-<10', '10-<20', '20+'], dtype=object)

array(['Businesses', 'Exporters', 'Importers', 'Exporter and Importer',
       'Exporter and/or Importer'], dtype=object)

array(['Count', 'Proportion of all Business'], dtype=object)

array(['Any', 'UK', 'Foreign'], dtype=object)

array(['Goods and Services', 'Goods', 'Services'], dtype=object)

array(['Any', '<1000', '1000 - 4999', '5000 - 9999', '10,000 - 24,999',
       '25,000 - 49,999', '50,000 - 99,999', '100,000 - 249,999',
       '250,000 - 499,999', '500,000 +'], dtype=object)

array(['2016', '2015', '2014'], dtype=object)

array(['1', '2 to 9', '10 to 19', '20 to 49', '50 to 99', '100 to 249',
       '1 to 49', '50 to 249', '250 and over', 'Any'], dtype=object)

0

Empty DataFrame
Columns: [Age, Import/Export, Measure Type, OBS, Ownership, Trade, Turnover, Year, Employees]
Index: []

We need to specify the units of the observations.

In [9]:
tidy['Unit'] = tidy['Measure Type'].map(lambda x: 'Businesses' if x == 'Count' else 'Percent')

And rename some columns.

In [10]:
tidy.rename(columns={'Import/Export': 'Export and Import Activity',
                     'Employees': 'Employment',
                     'Ownership': 'Country of Ownership',
                     'Age': 'Age of Business',
                     'OBS': 'Value',
                     'Trade': 'ONS ABS Trade'
                    }, inplace=True)
tidy

,Age of Business,Export and Import Activity,Measure Type,Value,Country of Ownership,ONS ABS Trade,Turnover,Year,Employment,Unit
0,Any,Businesses,Count,1087600.0,Any,Goods and Services,Any,2016,1,Businesses
1,Any,Exporters,Count,65900.0,Any,Goods and Services,Any,2016,1,Businesses
2,Any,Importers,Count,55800.0,Any,Goods and Services,Any,2016,1,Businesses
3,Any,Exporter and Importer,Count,25200.0,Any,Goods and Services,Any,2016,1,Businesses
4,Any,Exporter and/or Importer,Count,96500.0,Any,Goods and Services,Any,2016,1,Businesses
5,Any,Exporters,Proportion of all Business,6.1,Any,Goods and Services,Any,2016,1,Percent
6,Any,Importers,Proportion of all Business,5.1,Any,Goods and Services,Any,2016,1,Percent
7,Any,Exporter and Importer,Proportion of all Business,2.3,Any,Goods and Services,Any,2016,1,Percent
8,Any,Exporter and/or Importer,Proportion of all Business,8.9,Any,Goods and Services,Any,2016,1,Percent
9,Any,Businesses,Count,1019200.0,Any,Goods and Services,Any,2016,2 to 9,Businesses
10,Any,Exporters,Count,85500.0,Any,Goods and Services,Any,2016,2 to 9,Businesses
11,Any,Importers,Count,94400.0,Any,Goods and Services,Any,2016,2 to 9,Businesses
12,Any,Exporter and Importer,Count,47000.0,Any,Goods and Services,Any,2016,2 to 9,Businesses
13,Any,Exporter and/or Importer,Count,132900.0,Any,Goods and Services,Any,2016,2 to 9,Businesses
14,Any,Exporters,Proportion of all Business,8.4,Any,Goods and Services,Any,2016,2 to 9,Percent
15,Any,Importers,Proportion of all Business,9.3,Any,Goods and Services,Any,2016,2 to 9,Percent
16,Any,Exporter and Importer,Proportion of all Business,4.6,Any,Goods and Services,Any,2016,2 to 9,Percent
17,Any,Exporter and/or Importer,Proportion of all Business,13.0,Any,Goods and Services,Any,2016,2 to 9,Percent
18,Any,Businesses,Count,136600.0,Any,Goods and Services,Any,2016,10 to 19,Businesses
19,Any,Exporters,Count,22900.0,Any,Goods and Services,Any,2016,10 to 19,Businesses
20,Any,Importers,Count,27000.0,Any,Goods and Services,Any,2016,10 to 19,Businesses
21,Any,Exporter and Importer,Count,16400.0,Any,Goods and Services,Any,2016,10 to 19,Businesses
22,Any,Exporter and/or Importer,Count,33500.0,Any,Goods and Services,Any,2016,10 to 19,Businesses
23,Any,Exporters,Proportion of all Business,16.8,Any,Goods and Services,Any,2016,10 to 19,Percent
24,Any,Importers,Proportion of all Business,19.7,Any,Goods and Services,Any,2016,10 to 19,Percent
25,Any,Exporter and Importer,Proportion of all Business,12.0,Any,Goods and Services,Any,2016,10 to 19,Percent
26,Any,Exporter and/or Importer,Proportion of all Business,24.5,Any,Goods and Services,Any,2016,10 to 19,Percent
27,Any,Businesses,Count,71900.0,Any,Goods and Services,Any,2016,20 to 49,Businesses
28,Any,Exporters,Count,16900.0,Any,Goods and Services,Any,2016,20 to 49,Businesses
29,Any,Importers,Count,19100.0,Any,Goods and Services,Any,2016,20 to 49,Businesses
...,...,...,...,...,...,...,...,...,...,...
1995,2-<4,Importers,Proportion of all Business,5.1,Any,Services,Any,2014,Any,Percent
1996,2-<4,Exporter and Importer,Proportion of all Business,3.2,Any,Services,Any,2014,Any,Percent
1997,2-<4,Exporter and/or Importer,Proportion of all Business,9.0,Any,Services,Any,2014,Any,Percent
1998,4-<10,Businesses,Count,499200.0,Any,Services,Any,2014,Any,Businesses
1999,4-<10,Exporters,Count,37900.0,Any,Services,Any,2014,Any,Businesses
2000,4-<10,Importers,Count,23800.0,Any,Services,Any,2014,Any,Businesses
2001,4-<10,Exporter and Importer,Count,16200.0,Any,Services,Any,2014,Any,Businesses
2002,4-<10,Exporter and/or Importer,Count,45500.0,Any,Services,Any,2014,Any,Businesses
2003,4-<10,Exporters,Proportion of all Business,7.6,Any,Services,Any,2014,Any,Percent
2004,4-<10,Importers,Proportion of all Business,4.8,Any,Services,Any,2014,Any,Percent
2005,4-<10,Exporter and Importer,Proportion of all Business,3.2,Any,Services,Any,2014,Any,Percent
2006,4-<10,Exporter and/or Importer,Proportion of all Business,9.1,Any,Services,Any,2014,Any,Percent
2007,10-<20,Businesses,Count,456500.0,Any,Services,Any,2014,Any,Businesses
2008,10-<20,Exporters,Count,35700.0,Any,Services,Any,2014,Any,Businesses
2009,10-<20,Importers,Count,23200.0,Any,Services,Any,2014,Any,Businesses
2010,10-<20,Exporter and Importer,Count,15700.0,Any,Services,Any,2014,Any,Businesses
2011,10-<20,Exporter and/or Importer,Count,43200.0,Any,Services,Any,2014,Any,Businesses
2012,10-<20,Exporters,Proportion of all Business,7.8,Any,Services,Any,2014,Any,Percent
2013,10-<20,Importers,Proportion of all Business,5.1,Any,Services,Any,2014,Any,Percent
2014,10-<20,Exporter and Importer,Proportion of all Business,3.4,Any,Services,Any,2014,Any,Percent
2015,10-<20,Exporter and/or Importer,Proportion of all Business,9.5,Any,Services,Any,2014,Any,Percent
2016,20+,Businesses,Count,406600.0,Any,Services,Any,2014,Any,Businesses
2017,20+,Exporters,Count,28000.0,Any,Services,Any,2014,Any,Businesses
2018,20+,Importers,Count,20200.0,Any,Services,Any,2014,Any,Businesses
2019,20+,Exporter and Importer,Count,13300.0,Any,Services,Any,2014,Any,Businesses
2020,20+,Exporter and/or Importer,Count,34900.0,Any,Services,Any,2014,Any,Businesses
2021,20+,Exporters,Proportion of all Business,6.9,Any,Services,Any,2014,Any,Percent
2022,20+,Importers,Proportion of all Business,5.0,Any,Services,Any,2014,Any,Percent
2023,20+,Exporter and Importer,Proportion of all Business,3.3,Any,Services,Any,2014,Any,Percent
2024,20+,Exporter and/or Importer,Proportion of all Business,8.6,Any,Services,Any,2014,Any,Percent

In [11]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

tidy.to_csv(destinationFolder / ('observations.csv'), index = False)